<h2>Delivery</h2>
<p>We work without holidays and weekends! Customers can receive their order within 2-4 days, depending on the location of the settlement and the chosen delivery method. Delivery is possible to a selected post office or to the address of the customer by courrier service. You can see the available methods, exact terms and cost of delivery during checkout in the order basket.</p>
<h2>Completeness and integrity of the product</h2>
<p>Please check the completeness, integrity of the packaging, absence of mechanical damage and documents when receiving the order. This can be done with delivery service employees.</p>
<p>We are not responsible for goods that have not been checked for mechanical damage or missing parts directly upon receipt at the carrier's office.</p>
<p>In case of discovery of incompleteness or damage, you have the right not to pay for the product and refuse to receive it.</p>
<h2>Payment</h2>
<p>The purchase can be paid in cash or by card upon delivery of the order to the post office. A sales receipt is attached to each order.</p>
