<div class="row">
  <div class="col-xs-12">
    <div class="book-detail">
      <div class="book-detail__image col-sm-6">
        <img [src]="book?.imagePath" alt="">
      </div>
      <div class="book-detail__info col-sm-6">
        <h4 class="book-detail__title">{{ book?.name }}</h4>
        <p class="book-detail__author">{{ book?.author }}</p>
        <p class="book-detail__price" *ngIf="selectedPrice">$ {{selectedPrice}}</p>
        <div class="dropdown" appDropdown>
          <button class="btn book-detail__button book-detail__button-select dropdown-toggle" type="button" data-toggle="dropdown">{{ selectedFormat }}
          <span class="caret"></span>
        </button>
          <ul class="dropdown-menu">
            <li *ngFor="let formatType of book?.format">
              <a *ngIf="formatType !== selectedFormat" (click)="selectBookFormat(formatType)">{{ formatType }}</a>
            </li>
          </ul>
        </div>
        <p class="book-detail__decription">{{book?.decription}}</p>
        <div class="book-detail__wrap">
          <p class="book-detail__left">Publisher:</p>
          <p class="book-detail__right">{{book?.publisher}}</p>
          <p class="book-detail__left">Language:</p>
          <p class="book-detail__right">{{book?.language}}</p>
          <p class="book-detail__left">Paperback:</p>
          <p class="book-detail__right">{{book?.pagesAmount}} pages</p>
          <p class="book-detail__left">Category:</p>
          <p class="book-detail__right">{{book?.category}}</p>
        </div>
        <div class="book-detail__form">
          <input class="book-detail__input" type="number" [(ngModel)]="bookAmount">
          <button class="btn book-detail__button book-detail__button-add" (click)="onAdded()">
            <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1.14453H4.63636L7.07273 13.6416C7.15586 14.0713 7.38355 14.4572 7.71595 14.7319C8.04835 15.0067 8.46427 15.1526 8.89091 15.1442H17.7273C18.1539 15.1526 18.5698 15.0067 18.9022 14.7319C19.2346 14.4572 19.4623 14.0713 19.5455 13.6416L21 5.81108H5.54545M9 20.1445C9 20.6968 8.55228 21.1445 8 21.1445C7.44772 21.1445 7 20.6968 7 20.1445C7 19.5922 7.44772 19.1445 8 19.1445C8.55228 19.1445 9 19.5922 9 20.1445ZM20 20.1445C20 20.6968 19.5523 21.1445 19 21.1445C18.4477 21.1445 18 20.6968 18 20.1445C18 19.5922 18.4477 19.1445 19 19.1445C19.5523 19.1445 20 19.5922 20 20.1445Z" stroke="#1B3764" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

